# debug
npm-debug.log*

# dependencies
node_modules/

# local env files
.env*.local

# next.js
.next/
out/

# production
build/

# tree
project-hierarchy.txt

# typescript
*.tsbuildinfo
next-env.d.ts

# vs code
.vscode/
